In [3]:
elements = [0, 1, 2]
def incr(x):
    return x+1


print(list(map(incr,elements)))

[1, 2, 3]

In [1]:
ls = [1,2,3]
def sqr(x):
    return x*x
print(list(map(sqr,ls)))

[1, 4, 9]

In [14]:
x = ['ab', 'cd']
def to_upper(t):
    return t.upper()

print(list(map(to_upper, x)))

['AB', 'CD']

In [19]:
x = ['abc', 'cd']
print(list(map(len, x)))

[3, 2]

In [17]:
x = ['ab', 'cd']
print(len(list(map(list, x))))

2

In [18]:
x = ['ab', 'cd']
print(list(map(list, x)))

[['a', 'b'], ['c', 'd']]

In [18]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,150,100),columns=['A'])

In [24]:
df['B'] = np.random.normal(0,150,100)
df['Col'] =['A1','A2','A3','A4','A5']*20

In [44]:
## Number Swapipng

x= 10
y= 12

def swap1(x,y):
    temp = x
    x = y
    y = temp
    return x,y
def swap2(x,y):
    x = x+y
    y = x - y
    x = x -y
    return x,y
print(swap1(x,y))
print(swap2(x,y))

(12, 10)
(12, 10)

In [56]:
###Fibonacii series
a=0
b=1
print(" ",a,"",b,end='')
for i in range(5):
    temp = a+b
    a=b
    b=temp
    print(" ",temp,end='')

  0  1  1  2  3  5  8

In [62]:
## Palindrome
s1='mom'
s2=''
for i in s1:
    s2 = i+s2
if s1==s2:
    print('paylii')
else:
    print('not')

paylii

In [73]:
##number palindrome
n=151
temp = n
rev =0
while(n>0):
    c=n%10
    rev = rev*10+c
    n=n//10
if rev==temp:
    print('palli')
else:
    print('not....')

palli

In [104]:
##perfect number
n=6
i=1
sum=0
while n>i:
    if n%i==0:
        sum = sum +i
    i +=1

if (n ==sum):
    print("perfect_square")
else:
    print('not')

perfect_square

In [126]:
##strong number

def factor(x):
    if x==1:
        return 1
    else:
        return x*factor(x-1)
inp=24
n=inp
res = 1
i=1
while n>i:
    c = n%10
    res = factor(c)+res
    n = n//10

if res==inp:
    print('Strong_number')
else:
    print('Not')

Not

In [127]:
# input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser[:5])

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [130]:
d = {\
"zip_code": [12345, 56789, 101112, 131415],
"factory": [100, 400, 500, 600],
"warehouse": [200, 300, 400, 500],
"retail": [1, 2, 3, 4]
}

df = pd.DataFrame(d)
df

# we have to reassing

# location_type is generated automatically from the columns left after specifying id_vars (you can pass a list also)
df = df.melt(id_vars = "zip_code", var_name = "location_type", value_name = "distance")
df

    zip_code location_type  distance
0      12345       factory       100
1      56789       factory       400
2     101112       factory       500
3     131415       factory       600
4      12345     warehouse       200
5      56789     warehouse       300
6     101112     warehouse       400
7     131415     warehouse       500
8      12345        retail         1
9      56789        retail         2
10    101112        retail         3
11    131415        retail         4

In [136]:
d = {"A":[15, 20], "B":[20, 25], "C":[30 ,40], "D":[50, 60]}
df = pd.DataFrame(d)
df

# Using insert
df.insert(3, "C2", df["C"]*2)
df

    A   B   C  C2   D
0  15  20  30  60  50
1  20  25  40  80  60

In [ ]:
def generate_sample_data_datetime(): # creates a fake df for testing
    number_or_rows = 365*24
    num_cols = 2
    cols = ["sales", "customers"]
    df = pd.DataFrame(np.random.randint(1, 20, size = (number_or_rows, num_cols)), columns=cols)
    df.index = pd.util.testing.makeDateIndex(number_or_rows, freq="H")
    return df

In [147]:

df = generate_sample_data_datetime()
df.shape
df.head()
# Step 1: resample by D. Basically agregate by day and use to_frame() to convert it to frame
daily_sales = df.resample("D")["sales"].sum().to_frame()
daily_sales

# Step 2: filter weekends
weekends_sales = daily_sales[daily_sales.index.dayofweek.isin([5, 6])]
weekends_sales

            sales
2000-01-01    287
2000-01-02    214
2000-01-08    237
2000-01-09    263
2000-01-15    236
...           ...
2000-12-16    260
2000-12-17    236
2000-12-23    228
2000-12-24    243
2000-12-30    254

[105 rows x 1 columns]

In [159]:
d = {"orderid":[1, 1, 1, 2, 2, 3, 4, 5], "item":[10, 120, 130, 200, 300, 550, 12.3, 200]}
df = pd.DataFrame(d)
df

print("This is the output we want to aggregate to the original df")
df.groupby("orderid")["item"].sum().to_frame()

#df["total_items_sold"] = 
df.groupby("orderid")["item"].sum()
#df

This is the output we want to aggregate to the original df

orderid
1    260.0
2    500.0
3    550.0
4     12.3
5    200.0
Name: item, dtype: float64

In [ ]:
10
3 4 21 36 10 28 35 5 24 42
4,0

In [162]:
#Breaking the Records
"""9
10 5 20 20 4 5 2 25 1
2 4"""

def breaking_records(score):
    min = max = score[0]
    min_count = max_count = 0
    for i in score[1:]:
        if i > max:
            max_count += 1
            max = i
        if i < min:
            min_count += 1
            min = i
    return max_count, min_count


n = int(input())
score = list(map(int, input().split()))
print(*breaking_records(score))

1
2 2 3 4 6 8 5 2
4 0

In [175]:

n,a = int(input()),list(map(int,input().split()))
d,m = map(int,input().split())
ans = 0
for i in range(len(a)):
        if sum(a[i:i+m]) == d:
                ans+=1
print(ans)

1
2
3
4
5

In [206]:
n, s = int(input().strip()), list(map(int, input().split()))
d, m = map(int, input().split())
print(sum([sum(s[i : i + m]) == d for i in range(len(s) - m + 1)]))

ValueError: invalid literal for int() with base 10: ''

In [188]:
"""6 3
1 3 2 6 1 2
5"""

def div_by_sum(ls,d,n):
    count_=0
    for i in range(len(n)):
        for j in range(1,len(i+1,n)):
            if (ls[i]+ls[j])%d==0:
                count_+=1
    return count_        

n,d = map(int,input().split())
ls =list(map(int,input().split()))
print(div_by_sum(ls,d,n))

6 3
1 3 2 6 1 2

IndexError: list index out of range

In [205]:
ls=[1,3,2,6,1,2]
d=3
n=6
len([1 for i in range(n) for j in range(i+1,n) if(ls[i]+ls[j])%d==0])

TypeError: 'int' object is not callable

In [229]:
ls=[1,3,3,3,2,6,1,2]
dic = {}
for i in ls:
    dic[i]=dic.get(i,0)+1
    
print(max(dic,key=(lambda x: dic[x])))

3

In [231]:
def migratoryBirds(arr):
    data = {} //empty dictionary
    for id in set(arr):
        data[id] = arr.count(id)
        return max(data,key=(lambda x: data[x]))

IndexError: list index out of range

In [238]:
arr=[1,3,3,3,2,6,1,2]
max(set(arr), key = arr.count)

3

In [271]:
a = 'prajwal'
sorted(a, key=lambda x: x.split()[0])

['a', 'a', 'j', 'l', 'p', 'r', 'w']

In [36]:
lst[pos_:]

[97, 106, 119, 97, 108]

In [49]:
st = 'prajwal'
lst = []
for i in st:
    lst.append(ord(i))
import numpy as np
pos_=np.argmin(lst)
for i in range(pos_,(len(lst)-pos_)):
    for j in range(pos_,(len(lst)-pos_)):
    if<lst[i+1]:
        print(lst[i:])

[97, 106, 119, 97, 108]
[106, 119, 97, 108]

In [20]:
st ='haikujam'
l = []
for i in range(len(st)):
    for j in range(1,len(st)):

        if ord(st[i])<ord(st[j]):

ikujam
kujam
ujam
jam
m
ikujam
kujam
ujam
jam
m
kujam
ujam
jam
m
ujam
m
kujam
ujam
m
ikujam
kujam
ujam
jam
m
ujam

In [329]:
'''3
hlleo 1 3
ooneefspd 0 8
effort 1 4'''

for _ in range(int(input())):
    l=list(input().split(" "))
    n,m=int(l[1]),int(l[2])
    s=l[0]
    r=''
    r+=s[0:n]
    s1=[i for i in s[n:m+1]]
    s1.sort()
    s1.reverse()
    r+="".join(s1)
    r+=s[m+1:]
 
    print(r)

1
hlleo 1 3
hlleo

In [288]:
# Write your code here
t=int(input())
for i in range(t):
    x=list(map(str,input().split()))
    a=int(x[1])
    b=int(x[2])
    rev=list(x[0][a:b+1])
    rev.sort(reverse=True)
    res=''.join(rev)
    print(x[0][0:a]+res+x[0][b+1::])

1
hlleo 1 3
hlleo

In [6]:
x=list(map(str,input().split()))
x[0] = list(x[0])
a=int(x[1])
b=int(x[2])
x[0][a],x[0][b] = x[0][b],x[0][a]
print(''.join(x[0]))

hlleo 1 3
hello

In [68]:
"""A BBB CCC"""

size =3
for x in range(size,-(size+1),-1):
    for y in range(abs(x),0,-1):
        print(" ",end="")
    for z in range(abs(x),4):
        print(chr(z+65),end="")
    print()

   D
  CD
 BCD
ABCD
 BCD
  CD
   D

In [78]:
n=3
for i in range(n,-(n+1),-1):
    for x in range(abs(i)):
        print(' ',end='')
    for y in range(abs(i),n+1):
        print(chr(y+65),end='')
    print()

   D
  CD
 BCD
ABCD
 BCD
  CD
   D

In [88]:
n=3
for i in range(n,-(n+1),-1):
    for x in range(abs(i)):
        print(' ',end='')
    for y in range(n,abs(i)-1,-1):
        print(chr(y+65),end='')
    print()

   D
  DC
 DCB
DCBA
 DCB
  DC
   D

In [103]:
for i in range(1,6):
    for x in range(5,i,-1):
        print(" ",end='')
    for j in range(0,i):
        print(chr(j+65)+" ",end='')
    print()

    A
   A B
  A B C
 A B C D
A B C D E

In [120]:
for x in range(5,0,-1):
    for y in range(x,5):
        print(" ",end='')
    for z in range(x):
        print("*"+" ",end='')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [128]:
for x in range(5,0,-1):
    for y in range(5,0,-1):
        if x>=y:
            print("*"+" ",end='')
        else:print(" ",end='')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [134]:
### Sum of digit

n =  1579
sum_=0
while n>0:
    c = n%10
    sum_+=c
    n = n//10
print(sum_)

22

In [142]:
## count a digit in number

n = 13680
count_=0
while n>0:
    count_+=1
    n = n //10
print(count_)

5

In [148]:
n =4
p =3
i =1
sum_=1
while i<=p:
    i+=1
    sum_*= 4
print(sum_)

64

In [159]:
def lengthOfLongestSubstring(s):
    mapSet = {}
    start, result = 0, 0
    for end in range(len(s)):
        if s[end] in mapSet:
            start = max(mapSet[s[end]], start)
            result = max(result, end-start+1)
            mapSet[s[end]] = end+1

    return result
print(lengthOfLongestSubstring('bbbb'))

0

In [160]:
s='prajwal'
mapSet = {}
start, result = 0, 0

for end in range(len(s)):
    if s[end] in mapSet:
        start = max(mapSet[s[end]], start)
        result = max(result, end-start+1)
        mapSet[s[end]] = end+1

print(result)

0

In [ ]:
##Floyds Triangle